{{define "nav"}}
    {{if eq .UserRole "admin"}}
        {{template "admin_nav" .}}
    {{else if .IsAuthenticated}}
        {{template "student_nav" .}}
    {{else}}
        {{template "guest_nav" .}}
    {{end}}
{{end}}
